target/

git.commit.*.txt

*.log
*.tgz
*.xz

results.tmp.log
results.tmp.txt

.cache
map-sizes-and-statistics.csv

data/wordpress-cfgs-as-graphs.bin
data/wordpress-cfgs-as-graphs-sampled.bin

resources/r/.RData
resources/r/.Rhistory
resources/r/all-benchmarks-*